<%= render :partial => 'nav'%>
<table id="sf-grid">
  <%= render :partial => 'week_days' %>
  <tr id="sf-week-hours">
    <%= render :partial => 'hours' %>
    <%= render :partial => 'week_hours' %>
  </tr>
</table>