<div id="sf-nav">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <%= previous_week_link %>
        </td>
        <td>
          <%= today_link %>
        </td>
        <td>
          <%= next_week_link %>
        </td>
        <td>
          <%= date_display %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
