<div id="sf-nav">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <%= link_to "<", week_url('next') %>
        </td>
        <td>
          <%= link_to ">", week_url('last') %>
        </td>
        <td>
          <%= button_to 'Today' %>
        </td>
        <td>
          <%= date_display %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
