<tr class="sf-week-days">
  <td></td>
  <% @dates.each do |date| %>
    <td class="sf-week-day">
      <%= date.value.strftime("%a %m/%d") %>
    </td>
  <% end %>
</tr>
<% @without_time_range.each do |i| %>
  <tr class="sf-week-days">
    <td></td>
    <% @dates.each do |date| %>
      <% if event = date.events.without_time_set[i] %>
        <td class="sf-week-event">
          <%= edit_event_link(event) %>
          <div class="sf-open-edit-window">
            <%= event_day_desc(event) %>
          </div>
        </td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
<tr class="sf-week-days">
  <td></td>
  <% @dates.each do %>
    <td></td>
  <% end %>
</tr>
