<table id="sf-main" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td id="sf-section1" class="sf-section">
        <div id="sf-small-calendar">
          <%= render :partial => 'small_calendar' %>
        </div>
      </td>
      <td id="sf-section2" class="sf-section">
        <div id="sf-main-calendar">
          <%= render :partial => 'calendar' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
