<table cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <% @dates.each do |date| %>
        <td class="sf-week-day">
          <%= date.value.strftime("%a %m/%d") %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @dates.each do |date| %>
        <td>
          <% date.events.without_time_set.each do |event| %>
            <%= event.descr %>
            <br/>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>