<tr class="sf-week-days">
  <td></td>
  <% @dates.each do |date| %>
    <td class="sf-week-day">
      <%= date.value.strftime("%a %m/%d") %>
    </td>
  <% end %>
</tr>
<% @without_time_range.each do |i| %>
  <tr class="sf-week-days">
    <td></td>
    <% @dates.each do |date| %>
      <td>
        <% event = date.events.without_time_set[i] %>
          <%= event.descr if event %>
      </td>
    <% end %>
  </tr>
<% end %>
<tr class="sf-week-days">
  <td></td>
  <% @dates.each do %>
    <td></td>
  <% end %>
</tr>
