<div id="sf-recurrence-weekly" style="<%= recurrence_style('weekly') %>">
  <%= f.label "repeat_by", "Repeat on:" %><br/>
  <table>
    <tr>
      <%= text = "".html_safe 
          (0..6).each {|d| text << content_tag(:td, f.check_box("repeat_#{d}")) }  
          text
      %>
    </tr>
    <tr>
      <%= raw %w{S M T W T F S}.collect {|d| "<td>#{d}</td>"}.join %>
    </tr>
  </table>
</div>
