<div id="sf-recurrence-monthly" style="display:none;">
  <%= f.label "repeat_by", "Repeat by:" %><br/>
  <%= f.radio_button("repeat_by", "weekday")%> Day of the week
  <%= f.radio_button("repeat_by", "monthday")%> Day of the month
</div>
