<div id="sf-recurrence-weekly" style="display:none;">
  <%= f.label "repeat_by", "Repeat on:" %><br/>
  <table>
    <tr>
      <%= (0..6).collect {|d| content_tag(:td, f.check_box("repeat_#{d}", {}, true, false)) }  %>
    </tr>
    <tr>
      <%= %w{S M T W T F S}.collect {|d| "<td>#{d}</td>"} %>
    </tr>
  </table>
</div>